.nav-list {
display: flex;
gap: 1rem;

margin: 0;
padding: 0;
list-style: none;
background-color: #1F2937;
}

.nav-list li {
    flex-wrap: 0;
    flex-shrink: 1;
}

footer {
    background-color: #1F2937;
    padding: 30px;
    margin: 10px;
    border: 1px 20px 20px 20px;
}